/*stylesheets*/

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

h1 {
	margin-top: 0;
	margin-bottom: 50px;
}


div.section{
	padding: 2px 10px;
	margin-bottom: 40px;
	background-color: #ffff99;

}
#top {
	position: absolute;

}
